:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  max-width: 100%;
  padding-top: 80px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.about-paragraphs {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  color: #0a58ca;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: #0a58ca;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: #0a58ca;
}

.primary-link {
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: #0a58ca;
  background: var(--primary-color);
}

.primary-link-yogurt {
  margin-bottom: 0;
  margin-top: 15px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link-yogurt:hover {
  color: #0a58ca;
  background: var(--primary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }
  .mobile-resizing {
    text-align: center;
  }

  .w-90 {
    width: 90%;
  }

  .mb-100 {
    margin-bottom: 100px;
  }
}
